.mainBox{
    width:400px;
    height: 500px;
    margin:auto;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-top:50px;
    margin-bottom:50px;
    border-radius:20px;
    padding:30px
}

