.balanceBox{
    border:2px solid blue;
    height: 150px;
    margin :auto;
    border-radius:20px;
    background-color:lightcyan
}
.balanceBox:hover{
    cursor: pointer;
    transition: 0.5s ease;
    transform: scale(1.1);
}
.boxStyle{
    border: 2px solid green;
    padding: 16px;
    border-radius: 15px;
}
.boxStyle:hover {
    background-color: lightblue;
    cursor: pointer;
    color:black;
    transition: 0.5s ease;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.imgStyle{
     height:100px ;
     width :100px;
    margin-bottom:16px;
    border-radius:30%
}
